$company-gap: 24px;
$section-gap: 30px;
$theme-color: #0242a1;

h1 {
  color: #444;
  margin: 30px 0 10px;
  line-height: 1;
}

h2,
h3,
h4 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 22px;
}

.main {
  width: 1080px;
  margin: 0 auto;
  font-size: 18px;
  letter-spacing: 1px;
  color: #555;
  line-height: 1.5;
  padding-bottom: 40px;

  .basis {
    .summary {
      .item {
        padding: 0 10px;
        font-weight: 500;

        &:first-child {
          padding-left: 0;
        }

        &:nth-child(n + 2) {
          border-left: 1px solid #bbb;
        }
      }
    }

    .contact {
      display: flex;
      align-items: center;
      margin-top: 10px;

      .icon {
        width: 18px;
        height: 18px;
        margin-right: 4px;

        &:nth-child(n + 2) {
          margin-left: 16px;
        }
      }
    }
  }

  section {
    margin-top: $section-gap;
    h2 {
      display: flex;
      white-space: nowrap;
      align-items: center;
      color: $theme-color;

      &::after {
        content: "";
        height: 2px;
        width: 100%;
        margin-left: 20px;
        background: $theme-color;
      }
    }

    h3 {
      font-size: 22px;
    }

    h4 {
      font-size: 20px;
    }
  }

  .skill {
    ul {
      margin-top: 0;
    }
  }

  .work-experience {
    .company-list {
      .company {
        &:nth-child(n + 2) {
          margin-top: $company-gap;
        }

        .company-overview {
          display: flex;
          align-items: center;
          .name {
            margin: 0;
            width: 40%;
          }
          .title {
            flex: 1;
            font-weight: bold;
          }
          .date {
            font-family: "Courier New", Courier, monospace;
            font-weight: bold;
            color: $theme-color;
          }
        }

      }
    }
  }

  .project-experience {
    .company {
      &:nth-child(n + 3) {
        margin-top: $company-gap;
      }

      .name {
        margin: 0;
      }

      .project-list {
        padding-left: 20px;

        .project {
          &:nth-child(n + 2) {
            margin-top: 20px;
          }

          .content {
            padding-left: 20px;
            .title {
              font-weight: bold;
            }

            .description {
              margin: 0;
            }

            .merit-list {
              margin: 0;
            }
          }
        }
      }
    }
  }

  .education-background {
    .label {
      font-weight: bold;
    }
  }
}
